:root {
    --md-text-font: "Noto Serif SC", "Noto Serif"; 
    --md-code-font: "Victor Mono";
}  

div.admonition.特别鸣谢 > p a:link, div.admonition.特别鸣谢 > p a:visited, article.md-content__inner.md-typeset>h4, h1,
.md-ellipsis,
.md-source__repository,
.timeline  {
    font-family: "Gloria Hallelujah", "LXGW WenKai Screen";
}